.header-banner {
    text-align: center;
    color: white;
    padding: 3rem;
}

.navbar nav a:hover {
    color: #b06d08;
}

.blog-post img:hover {
    filter: brightness(0.9);
    transition: filter 0.3s ease;
}
.post-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.post-header {
    text-align: center;
    margin-bottom: 2rem;
}

.post-meta {
    color: #888;
    
    font-size: 15px;
    margin-bottom: -20px;
}

.caption{

    margin-bottom: 10px;
    margin-top:-10px ;
    color: #888;

}
.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1.5rem 0;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: #303030;
    padding: 1rem;
    border-radius: 8px;
}
.author-title {
color: rgb(255, 255, 255);
}
.author-bio {
    color: rgb(255, 255, 255);
    }
.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}

.social-sharing a {
    margin-right: 1rem;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.social-sharing a:hover {
    color: #1f78b4;
}
.design-system-content {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

.color-sample {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0.5rem;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 5px;
}

.blog-post-sample .blog-post {
    width: 300px;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.blog-post-sample .blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.navbar .logo a i {
    margin-right: 1rem;
}

.navbar nav a i {
    margin-right: 0.3rem;
}

.button i {
    margin-left: 0.5rem;
}

.social-sharing a {
    display: inline-flex;
    align-items: center;
    margin-right: 1px;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.social-sharing a:hover {
    color: #1f78b4;
    transform: scale(1.1);
}
.linkedin-logo {
    width: 20px; /* Size adjustment */
    height: 17px;
    background-color: #0077b5; /* LinkedIn blue color */
    border-radius: 4px; /* Rounded edges */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px; /* Adjust font size */
    color: white;
    text-decoration: none; /* Remove underline */
margin-left: -2px;;

}

.linkedin-logo span {
    line-height: 1; /* Center text */
}

.linkedin-logo:hover {
    background-color: #005983; /* Slightly darker blue on hover */
}


