
footer {
    text-align: center;
    padding: 1rem;
    background-color: #454545;
    color: #ddd;
    font-size: 0.9rem;
}
footer a {
    color: #a6a6a6;
    margin: 0 5px;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #fff;
}
footer a i {
    margin-right: 0.5rem;
}
